@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --theme-color: #5588bb;
  --theme-color-darker: #336699;
  --theme-color-lighter: #a7c5f2;
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 7.5vw;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.flex-column {
  flex-flow: column;
}

.flex-row {
  flex-flow: row;
}

.justify-start {
  justify-content: start;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.margin-top-medium {
  margin-top: 5rem;
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  
  color: #222;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background: url("../images/so-white.png");
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.mapouter {
  position:relative;
  text-align:right;
  height:300px;
  width: 100%;
  filter: grayscale(1000%);
} 

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:100%;
  width: 100%;
}