@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;

    background-color: #36313d;
    color: #d9d7e0;
}